<div class="container row mt-3">
    <div class="col-6">
        <h2>Gerenciar Produtos</h2>
    </div>
    <div class="col-6 text-end my-auto">
        <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-square"></i>&nbsp; Adicionar Produto</a>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-hover my-auto" style="vertical-align: middle" width="100%" id="indexProdutos">
        <thead>
            <tr class="my-auto">
                <th class="col-3" data-priority="1">Titulo</th>
                <th class="col-2" data-priority="5">Desenvolvedor</th>
                <th class="col-2" data-priority="6">Distribuidor</th>
                <th class="col-1" data-priority="4">Categoria</th>
                <th class="col-1" data-priority="3">Plataforma</th>
                <th class="col-1" data-priority="2">Preço</th>
                <th class="col-1" data-priority="2"></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
<script src="~/js/produto.js"></script>
}