@using RubyGameStore.Helper.StaticNames
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" property="og:title" content="Ruby Game Store" />
    <meta property="og:type" content="e-commerce">
    <meta name="image" property="og:image" content="https://www.rgs.xande.dev/images/og.jpg">
    <meta name="author" content="Alexandre Giaccheri">
    <title>@ViewData["Title"] - RubyGameStoreWeb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CustomBootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/r-2.2.9/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RubyGameStoreWeb.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italianno&family=Play&display=swap">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:5px">
            <div class="container-fluid font-play">
                <a class="navbar-brand p-3" asp-area="User" asp-controller="Home" asp-action="Index"><i class="bi bi-gem"></i>&nbsp; Ruby Game Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-content-center" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="User" asp-controller="Home" asp-action="Busca" asp-route-idx="1">
                                Buscar
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gêneros</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Ação</a>
                                <a class="dropdown-item" href="#">Aventura</a>
                                <a class="dropdown-item" href="#">Casual</a>
                                <a class="dropdown-item" href="#">Esporte</a>
                                <a class="dropdown-item" href="#">Estratégia</a>
                                <a class="dropdown-item" href="#">RPG</a>
                                <a class="dropdown-item" href="#">Outros</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plataformas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">Nintendo Switch</a>
                                <a class="dropdown-item">PC</a>
                                <a class="dropdown-item">Playstation 4</a>
                                <a class="dropdown-item">Playstation 5</a>
                                <a class="dropdown-item">Xbox One</a>
                                <a class="dropdown-item">Xbox Series</a>
                            </div>
                        </li>
                        @if (User.IsInRole(Autorizacao.Admin) || User.IsInRole(Autorizacao.Funcionario))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Novo Usuário</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Empresa" asp-action="Index">Empresas</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Cupom" asp-action="Index">Cupom</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Produto" asp-action="Index">Produtos</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            <partial name="_ToastrNotifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-primary">
        <div class="container text-white d-flex justify-content-center">
            <h5 class="py-0 my-0 font-play" style="line-height:60px">&copy; 2022</h5>
            <h5 class="mx-2 py-0 my-0 font-play" style="line-height:60px"> - Alexandre Giaccheri - </h5>
            <a class="py-0 my-0 font-play text-white text-decoration-none" style="line-height:60px" href="https://github.com/alexandregiaccheri/RubyGameStore" target="_blank"><i class="bi bi-github"></i>&nbsp;</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/r-2.2.9/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/kcgfkd7aoveq8bncs8xkhkul8ikvfuocpg2csc0d2lcf77zn/tinymce/5/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
