html {
    font-size: 14px;
    min-height: calc(100vh - 140px);
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    min-height: calc(100vh - 140px);
    margin-bottom: 60px;    
}

div.form-group {
    margin-bottom: 25px !important
}

div.form-floating {
    margin-bottom: 25px !important
}

.field-validation-error {
    height: 0px
}