html {
    font-size: 14px;
    min-height: calc(100vh - 140px);
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*@media (min-height: 1440px) and (max-height: 2159px){
    html {
        zoom: 100%;
    }
}

@media (min-height: 2160px) {
    html {
        zoom: 100%;
    }
}*/


body {
    min-height: calc(100vh - 140px);
    margin-bottom: 60px;
}