@model int
@{
    ViewData["Title"] = "Confirmado";
}

<div class="py-3">
    <h1 class="text-center font-play">Pedido realizado com sucesso!</h1>
    <hr />
    <div class="transparent-box text-center mx-auto p-2 col-10 col-md-8 col-lg-6 font-play">
        <h4 class="font-play">Seu pedido foi concluído com sucesso!</h4>
        <p>A confirmação do pagamento pode levar até 2 dias úteis para boletos bancários, e geralmente acontece em poucos minútos para pagamentos com cartão de crédito.</p>
        <p>Depois de confirmado o pagamento, o pedido será processado e entraremos em contato por email</p>
        <p>Você também pode acompanhar o andamento dos seus pedidos clicando em "Pedidos" no menu de navegação</p>
    </div>
</div>