@model IEnumerable<Plataforma>
@{
    ViewData["Title"] = "Gerenciar Plataformas";
}

<div class="container row mt-3">
    <div class="col-6">
        <h2>Gerenciar Plataformas</h2>
    </div>
    <div class="col-6 text-end my-auto">
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i>&nbsp; Adicionar Plataforma</a>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th class="col-12">Plataforma</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="table-primary" style="vertical-align: middle">
                <td>
                    @obj.NomePlataforma
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Update" asp-route-id="@obj.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-x-square"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>