@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<header class="py-2">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Se estiver com problemas entre em contato com o suporte.</p>
</header>
