@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir Senha";
}

<h1 class="pt-2">@ViewData["Title"]</h1>
<p>
    Verifique a caixa de entrada do seu email para redefinir sua senha.
</p>
