@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<header class="pt-2">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Clique aqui para encerrar a sessão</button>
            </form>
        }
        else
        {
            <p>Sessão finalizada com sucesso.</p>
        }
    }
</header>
