@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="pt-2">Gerenciar sua Conta</h1>

<div class="pb-3">
    <h2>Modifique as configurações da conta</h2>
    <hr />
    <div class="row justify-content-around">
        <div class="col-md-4 transparent-box p-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-7 p-3 transparent-box">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
