@page
@model ChangePasswordModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Mudar Senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" class="row" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-floating col-md-6 mb-2">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label" style="margin-left:12px"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 mb-2">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label" style="margin-left:12px"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 mb-4">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label" style="margin-left:12px"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>            
            <div class="col-md-6 mt-1">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Mudar Senha</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
