@page
@model Disable2faModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Desativar Verificação em Duas Etapas";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning pb-4" role="alert">
    <p>
        <strong>Esta ação irá somente desativar a verificação em duas etapas.</strong>
    </p>
    <p>
        Desativar a verificação não irá alterar a chave usada no autenticador. Se você deseja alterar a chave
        usada no autenticador, você deve <a asp-page="./ResetAuthenticator">resetar suas chaves de autenticação.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Desativar</button>
    </form>
</div>
