@page
@model EmailModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Gerenciar Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

        <form class="row" id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating input-group col-md-6 pb-2">
                    <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label" style="margin-left:12px"></label>
                </div>
            }
            else
            {
                <div class="form-floating pb-2 col-md-6">
                    <input asp-for="Email" class="form-control" disabled />
                    <label asp-for="Email" class="form-label" style="margin-left:12px"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Enviar email de verificação</button>
                </div>
            }
            <div class="form-floating pb-4 col-md-6">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="form-label" style="margin-left:12px"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-75 btn btn-lg btn-primary mx-auto">Mudar Email</button>
        </form>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
