@page
@model EnableAuthenticatorModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Ativar Verificação em Duas Etapas";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Para ativar a verificação em duas etapas, siga os passos a seguir:</p>
    <ol class="list">
        <li>
            <p>
                Baixe um aplicativo como o Microsoft Authenticator para
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> e
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> ou o
                Google Authenticator para
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> e
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Escaneie o QR code ou digite o seguinte código <kbd>@Model.SharedKey</kbd> no seu aplicativo.</p>            
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Após escanear o QR code ou digitar o código, seu aplicativo vai lhe fornecer um código único. 
                Digite o código na caixa abaixo para validar a configuração.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating pb-4">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Code" class="control-label form-label">Verification Code</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Verificar</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
