@page
@model GenerateRecoveryCodesModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Gerar Códigos de Recuperação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="pt-2">@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Guarde estes códigos em um local seguro.</strong>
    </p>
    <p>
        Se você não tiver mais acesso ao seu autenticador e não possuir um código de recuperação,
        você não vai mais poder acessar sua conta!
    </p>
    <p>
        Gerar novos códigos de recuperação não altera a chave usada no autenticador. Se você deseja alterar a chave
        usada no seu autenticador, você deve <a asp-page="./ResetAuthenticator">resetar sua chave do autenticador</a>.
    </p>
</div>
<div class="mb-4">
    <form method="post">
        <button class="btn btn-danger" type="submit">Gerar Códigos de Recuperação</button>
    </form>
</div>
