@page
@model ResetAuthenticatorModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Resetar Autenticador";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você resetar sua chave, seu app autenticador não irá funcionar até você reconfigurá-lo.</strong>
    </p>
    <p>
        Este processo desativa a verificação em duas etapas até você validar o app.
        Se você não concluir a configuração, você poderá perder o acesso a sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetar Chave</button>
    </form>
</div>
