@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Verificação em Duas Etapas";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Você não possui mais códigos de recuperação.</strong>
                    <p>Você precisa <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto de códigos</a> antes de poder logar com um código de recuperação novamente.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Você possui 1 código de recuperação disponível.</strong>
                    <p>Você pode <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto de códigos</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Você tem @Model.RecoveryCodesLeft códigos de recuperação disponíveis.</strong>
                    <p>É possível <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto de códigos</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Esquecer este navegador</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Desativar Autenticador</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetar Códigos de Recuperação</a>
        }

        <h4>App Autenticador</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Adicionar Autenticador</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar Autenticador</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetar Autenticador</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Você não concordou com as políticas de privacidade e de cookies.</strong>
            <p>Você precisa concordar com as políticas de privacidade e cookies antes de ativar o autenticador.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
