<div class="container row mt-3">
    <div class="col-6">
        <h2>Gerenciar Usuários (CNPJ)</h2>
    </div>
    <div class="col-6 text-end my-auto">
        <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-square"></i>&nbsp; Adicionar Usuário</a>
    </div>
</div>

<div class="container mt-3 pb-3">
    <table class="table table-hover my-auto" style="vertical-align: middle" width="100%" id="index">
        <thead>
            <tr class="my-auto">
                <th data-priority="1">Nome</th>
                <th data-priority="5">CNPJ</th>
                <th data-priority="6">Telefone</th>
                <th data-priority="4">Cidade</th>
                <th data-priority="4">CEP</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
<script src="~/js/empresa.js"></script>
}